@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Arimo|VT323);

/* button colors (inactive and highlighted) */
$tl-color: #C00;
$tr-color: #0C0;
$bl-color: #00C;
$br-color: #CC0;
$button-width: 250px;
$button-height: 250px;
$bws: 12px; /* border width single */
$bwd: 24px; /* border width double */

$device-bg: #222; 
/* control panel */
$panel-bg-width: 250px;
$panel-bg-height: 250px;
$panel-width: 225px;
$panel-height: 225px;

$display-height: 42px;
$display-width: 60px;

$button-radius: 20px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*
make things unselectable
*/
@mixin selection{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html, .bg-container {
  margin: 0;
  padding: 0;
  background: url('http://orig07.deviantart.net/d03e/f/2008/148/c/3/wood_floor_by_gnrbishop.jpg') repeat left top;
}

div {
  @include selection;
}

/*
make things clickable
*/
.clickable {
  pointer-events: auto;
}

.unclickable {
  pointer-events: none;
}

/*
the outer colored buttons (=quadrants)
*/
.quadrant {
  width: $button-width;
  height: $button-height;
  border: $bws solid $device-bg;
}

.t-l {
  background-color: $tl-color;
  border-top-left-radius: 100%;
  border-left-width: $bwd;
  border-top-width: $bwd;
  float: left;
}

.t-r {
  background-color: $tr-color;
  margin-left: $button-width + $bwd + $bws;
  border-top-right-radius: 100%;
  border-top-width: $bwd;
  border-right-width: $bwd;
}

.b-l {
  background-color: $bl-color;
  float: left;
  border-bottom-left-radius: 100%;
  border-bottom-width: $bwd;
  border-left-width: $bwd;
}

.b-r { 
  background-color: $br-color;
  margin-left: $button-width + $bwd + $bws;
  border-bottom-right-radius: 100%;
  border-bottom-width: $bwd;
  border-right-width: $bwd;
}

/*
center panel
*/
.panel-bg {
  width: $panel-bg-width;
  height: $panel-bg-height;
  @include border-radius(100%);
  background-color: $device-bg;
  display: block;
  float: left;
  position: absolute;
  left: $button-width + $bwd + $bws - ($panel-bg-width/2);
  top: $button-height + $bwd + $bws - ($panel-bg-height/2) ;
}

.panel {
  float: left;
  width: $panel-width;
  height: $panel-height;
  background-color: #fff5f5;
  position: relative;
  @include border-radius(100%);
  left: ($panel-bg-width - $panel-width) / 2;
  top: ($panel-bg-height - $panel-height) / 2;
}

.title {
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3em;
  margin-top: 0.8em;
}

.trademark {
  font-size: 0.4em;
  vertical-align: 1em;
}

.display {
  float: left;
  background: none;
  background-color: #2D1F1F;
  position: absolute;
  @include border-radius(10%);
  left: $panel-width * 0.1;
  top: $panel-height * 0.45;
  width: $display-width;
  height: $display-height;
  line-height: $display-height;
  text-align: center;
}

.display span {
  display: inline-block;
  vertical-align: center;
  font-family: 'VT323';
  color: red;
  font-size: 2em;
  letter-spacing: 0.1em;
  visibility: hidden;
}

// center panel buttons (start, strict)

.button {
  width: $button-radius;
  height: $button-radius;
  @include border-radius(100%);
  border: 2px solid #444;
  box-shadow: 0 2px 2px 0 #444;
  float: left;
  position: absolute;
}

.button-active:active {
  box-shadow: 0 1px 1px #222;
  top: $panel-height * 0.55 + 2px;
}

.start {
  position: absolute;
  background-color: #F00;
  left: $panel-width * 0.5;
  top: $panel-height * 0.55;
}

.strict {
  position: absolute;
  background-color: #FF0;
  left: $panel-width * 0.75;
  top: $panel-height * 0.55;
}

#start-label {
  position: absolute;
  top: $panel-height * 0.67;
  left: $panel-width * 0.47;
  font-size: 0.8em;
  font-family: 'Arimo', sans-serif;
}

#strict-label {
  @extend #start-label;
  top: $panel-height * 0.67;
  left: $panel-width * 0.72;
}

#display-label {
  @extend #start-label;
  top: $panel-height * 0.67;
  left: $panel-width * 0.14;
}

#on-label {
  @extend #start-label;
  top: $panel-height * 0.81;
  left: $panel-width * 0.64;
}

#off-label {
  @extend #start-label;
  top: $panel-height * 0.81;
  left: $panel-width * 0.27;
}

#switch {
  position: absolute;
  top: $panel-height * 0.8;
  left: $panel-width * 0.4;
  background-color: black;
  width: 50px;
  height: 20px;
  @include border-radius(10%);
}

#switch-position {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #0BB;
  width: 20px;
  height: 16px;
  @include border-radius(10%);
}